h1{
    background-color: rgb(77, 199, 72);
    color:rgb(55, 62, 60);
    text-align: center;
    padding: 10px;
    border-radius: 8px;
    font-family: cursive;
    font-size: 50px;
}
p{
font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
}
img{
    height: 80px;
    width: 100px;
    border radius: 5px;
}
li{
    background-color: rgb(8, 30, 52);
    list-style: square;
}
b{
    color: red;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    max width: 720px;
    margin: 30px,
}
table{
    width: 780px;
}
i{
    color: rgb(193, 137, 221);
}
