h1{
font-family: sans-serif;
text-align: center;
font-size: 40px;
}

#tabela1{
text-align: center;

}

#input{
width: 300px;
height: 20px;

}

#tabela2{
background-color: lightgray;
width: 200px;


}

p{
font-size: 20px;



}